.endgame-container {
  display: grid;
  justify-content: center;
  padding-top: 5rem;
}

.form-container {
  display: grid;
  justify-items: center;
  text-align: center;
  grid-template-columns: 1fr;
  border: 2px solid black;
  padding: 1rem;
  margin: 1rem;
  gap: 3rem;
}

#publish-button {
  justify-self: center;
  padding: 1rem;
}

#finish-text {
  font-size: 3rem;
}

#end-form {
  font-size: 1.5rem;
  width: 80%;
}

form {
  display: flex;
  width: 100%;
  justify-content: center;
}

#name-input {
  width: 15rem;
}
